<h1 class="text-center mb-4">Detail Users</h1>

<div class="card mt-4" style="width: 18rem;">
    <div class="card-body">
        <% datas.forEach(data => { %>

        <h5 class="card-title"><%= data.nama %></h5> <hr class="border border-black">
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.email %></h6>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.nohp %></h6>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.jenis_kelamin %></h6>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.alamat %></h6>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>

        <% }) %>
        
    </div>
</div>